/* 웹카페 실습 */
@import url("./normalize.css");
@import url("./reset.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본스타일 */
html {
  font-size: 16px;
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.875rem;
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

.header {
  background: #fff;
}
/* 비주얼 */
.visual {
  background: pink;
  height: 120px;
}
.main {
  background: blue;
  min-height: 400px;
  padding: 15px;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
}

.main::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
}

.group {
  background-color: silver;
  float: left;
  margin: 15px;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  /* order: 1; */
}
.group3 {
  width: 190px;
}
.slogan {
  background: green;
}
.footer {
  background: purple;
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner {
  background: orange;
}
