/* 웹카페 실습 */
@import url("./normalize.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

.header {
  background: yellow;
}
/* 비주얼 */
.visual {
  background: pink;
  height: 120px;
}
.main {
  background: blue;
  min-height: 400px;
  padding: 15px;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
}

.main::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
}

.group {
  background-color: silver;
  float: left;
  margin: 15px;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
  /* order: 1; */
}
.group3 {
  width: 190px;
}
.slogan {
  background: green;
}
.footer {
  background: purple;
}
.footer-inner {
  background: orange;
}
