/* 웹카페 실습 */
@import url("./fonts.css");
@import url("./fontello.css");
@import url("./normalize.css");
@import url("./reset.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 컨텐츠 */
.sr-only,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* 기본스타일 */
html {
  font-size: 10px;
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.4rem;
  /* background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%); */
  background: url("./images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
  /* background-color: blue; */
  position: absolute;
  top: 45px;
  left: 65px;
  z-index: 10;
}
/* 멤버 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(8px);
}
.member li,
.member a {
  display: inline-block;
}
.member a {
  padding: 6px 8px;
  text-transform: uppercase;
}
.member li {
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}
.menu {
  background: #e85e2c linear-gradient(to bottom, #f2a771 0%, #ef6a0b 35%, #ef6a0b 70%, #f2a771 100%);
  padding-left: 232px;
  height: 47px;
  border-top: 2px solid currentColor;
  border-radius: 0 0 5px 5px;
}
.menu-button {
  line-height: 45px;
  border: 0;
  background: transparent;
  padding: 0 21px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button {
  color: yellow;
}
.is-active .menu-button::after {
  content: "";
  background: #000;
  display: block;
  height: 2px;
}

.menu-item {
  float: left;
  position: relative;
  border-left: 2px solid white;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
  padding: 4px 0;
}

.menu-html,
.menu-css,
menu-standards {
  left: 0;
}
.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.sub-menu li {
  margin-right: 0.2em;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 6px 8px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before {
  content: "\e800";
}
.sub-menu a:focus::before {
  content: "\e800";
}

.is-active .sub-menu {
  display: block;
  /* width: initial; */
}
/* .sub-menu li {
  display: inline-block;
} */

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation-play-state: paused;
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual::before {
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-position: 0 -10px, 600px 0;
  animation: fadeEffect 2s alternate infinite;
}

.visual::after {
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
  background-position: 300px 0, 800px 0;
  animation: fadeEffect 2s alternate infinite;
  animation-delay: 1s;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: moveEffect;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 10;
}
.main {
  min-height: 400px;
  padding: 15px;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
  background: #fff;
  border-radius: 15px 15px 0 0;
}

.main::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
}

.group {
  float: left;
  margin: 15px;
}
.group1 {
  width: 250px;
}

/* 로그인 */
.login {
  background: radial-gradient(circle at right top, #e8852e, #ed552f);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
}
.login-title {
  color: yellow;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}

.login-form,
.sign {
  background: #fff;
}

.login-form {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}

.login-form div {
  margin-bottom: 6px;
}

.login-form label {
  display: inline-block;
  /* background: yellow; */
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 2px 2px 10px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.3rem;
  color: white;
  background-color: #ed552f;
  border-radius: 2px;
  border: 0;
}

.sign {
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.2rem;
}

.sign a {
  padding: 6px 0;
}

.sign .icon-right-open {
  color: #e85e2c;
}

.group2 {
  width: 380px;
  /* order: 1; */
}
.group3 {
  width: 190px;
}

/* 유효성 검사  */
.validation-list {
  margin-top: 20px;
}
.validation-list li {
  margin-top: 10px;
}
.validation-list li a {
  background: url("./images/validation_icon.png") no-repeat 20px 50% /16px 16px, #aaa linear-gradient(to bottom, #ccc, #aaa) repeat;
  display: block;
  padding: 10px;
  text-indent: 35px;
  border-radius: 50px;
}
.validation-list li a:hover {
  color: red;
}
.validation-list li a:focus {
  color: red;
}
/* .validation {
  margin-bottom: 20px;
}

.validation-list {
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%;
  line-height: 30px;
  border: 1px solid #aaa;
  border-radius: 20px;
} */

/* .validation-list a:hover {
}
.validation-list a:focus {
} */

/* dl */
.term {
  padding: 15px;
  border: 1px solid #aaa;
  margin-top: 20px;
  border-radius: 5px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}
.term-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list {
  margin-top: 15px;
}
.term-list > div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: top;
}

.slogan {
  background: lime;
}

.term-list-brief {
  float: right;
  width: 145px;
  line-height: 1.5;
  /* margin-top: 5px; */
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
}

.cross .term-list-thumbnail {
  float: right;
}
/* 푸터 */
.footer {
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner {
  background: orange;
  height: 15vh;
}
